
  .output {
    font-family: Courier, Courier New, Lucida Console, Monaco, Consolas;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
  }
  
  .slider-vertical {
    margin: -30px auto 0;
  }