.swal2-title{
    font-family: "Biotif-bold";
    letter-spacing: -0.075em;
    color: #111827;
    font-size: 24px;
    padding-top:20px !important;

}
.swal2-html-container{
    color:#727497;
    font-size: 14px !important;
}
.SuccessClosebutton{
    border: 1px solid #D1D5DB !important;
    border-radius: 50px !important;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background:#FFFFFF !important;
    color:#374151 !important;
    font-family: "Biotif-bold";
    font-size: 14px;
}
.ErrorClosebutton{
    
    font-family: "Biotif-bold";
    font-style: normal;
font-weight: bold;
font-size: 16px !important;
line-height: 24px;
color: #FFFFFF !important;
background: #049A59 !important;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) !important;
border-radius: 21px !important;
    
}